table, th, td {
  border: 3px solid black;
  border-collapse: separate;
  cursor: pointer;
  padding: 15px;
  letter-spacing: 3px;
}

tr {
  font-size: 16px;
  text-transform: uppercase;
}

.intro {
  background-image: url(/assets/imgs/img-5-big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro .icons {
  position: relative;
  top: 40px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 20px;
  color: #fff;
}

.intro table.feature {
  margin-top: 200px;
  margin-left: 400px;
  width: 97%;
  background-color: #670000;
  color: white;
}

.intro table.feature .image img {
  width: 50px;
}

.intro .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 400px;
  margin-top: 50px;
  display: none;
}

.intro .inputs input {
  border: 3px solid black;
  border-collapse: separate;
  width: 100%;
  padding: 20px;
  float: left;
  font-size: 16px;
  padding: 15px;
}

.intro .addBtn {
  border: 3px solid black;
  padding: 10px;
  width: 20%;
  background: #670000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 16px;
}

.intro .upload {
  display: none;
}

.popup {
  position: fixed;
  top: 15%;
  left: 20%;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup .inner {
  position: relative;
}

.popup .inner .close-icon i {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -100px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  -webkit-transition: .4s;
  transition: .4s;
}

.popup .inner .close-icon i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
